@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body-article{
    font-family: 'Roboto', sans-serif;;
}
.news-header{
    background: url(../images/Img_GCXboxNews.jpg);
    background-size: cover;
}
.link{
    color: #fff;
  }

.avatar-icon{
    height: 48px;
    width: 48px;
}
.header-comment{
    margin-bottom: -1px;
}
