@font-face {
    font-family: origami;
    src: url(../fonts/Origami.ttf);
}
.team-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border-radius: 25% !important;
}

.img-team{
    width: 175px;
    max-height: 180px;
    border-radius: 25%;
}
.card-img-overlay-1, .card-img-overlay-7{
    background-color: orange;
}
.card-img-overlay-2{
    background-color: blueviolet;
}
.card-img-overlay-3{
    background-color: cyan;
}
.card-img-overlay-5{
    background-color: yellow;
}
.card-img-overlay-6{
    background-color: #810000;
}
.card-img-overlay-8{
    background-color: #17ac86;
}

.team-banner-card{
    filter: brightness(50%);
    border-radius: 5%;
    width: 414px;
    height: 230px;
}

.team-name, .team-info{
    text-shadow: 2px 4px 9px black;
}
