@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card-match-content{
    font-family: 'Roboto', sans-serif;
}

.img-user-match{
    width: 116px;
}

.plus-icon{
    width: 207px;
}
