.navbar {
    box-shadow: 2px 2px 5px #000;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,11,122,1) 0%, rgba(84,6,154,1) 36%, rgba(0,149,255,1) 100%);
}

.navbar-brand{
    width: 20%;
    height: 20%;
}

.navbar-brand-logo{
    width: 100%;
    height: 20%;
}

.register-body{
    width: 22rem;
}

.user-button{
    background: none !important;
    border-color: transparent !important;
}
.user-button:focus{
    background: none !important;
    border-color: transparent !important;
}

.user-avatar{
    width: 3rem;
    height: 3rem;
}

.search-results{
    position: absolute;
    z-index: 1;
    top: 4.5rem;
    right: 21.5rem;
    width: 21rem;
}
